# Estructuras de Datos

1. Listas
2. Tuplas
3. Diccionarios
4. Sets

### 1. Listas

In [85]:
lista = [1,2,3,4,5]

In [87]:
lista = [1,2,3,4,5, 'Hola', 'IIO', True]

In [88]:
lista

[1, 2, 3, 4, 5, 'Hola', 'IIO', True]

In [89]:
len(lista)

8

In [90]:
#append(), extend() e insert()

In [91]:
lista.append('Mundo')

In [92]:
lista

[1, 2, 3, 4, 5, 'Hola', 'IIO', True, 'Mundo']

In [93]:
lista.extend('PAPD')

In [94]:
lista

[1, 2, 3, 4, 5, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P', 'D']

In [95]:
lista.insert(2, False)

In [96]:
lista

[1, 2, False, 3, 4, 5, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P', 'D']

In [97]:
#del, pop(), remove

In [98]:
del lista[5]

In [99]:
lista

[1, 2, False, 3, 4, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P', 'D']

In [100]:
valor = lista.pop(0)

In [101]:
valor

1

In [102]:
lista

[2, False, 3, 4, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P', 'D']

In [103]:
valor = lista.pop()

In [104]:
lista

[2, False, 3, 4, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P']

In [105]:
lista.remove(4)

In [106]:
lista

[2, False, 3, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P']

In [107]:
lista.remove('Hola')

In [108]:
lista

[2, False, 3, 'IIO', True, 'Mundo', 'P', 'A', 'P']

In [113]:
lista = ['A','B','C','D','E','F','G']

In [114]:
#indexacion

In [115]:
lista[0:4]

['A', 'B', 'C', 'D']

In [117]:
lista[0:7:2]

['A', 'C', 'E', 'G']

In [118]:
lista[::-1]

['G', 'F', 'E', 'D', 'C', 'B', 'A']

In [119]:
lista[-3]

'E'

In [120]:
lista = [45,235,78,120,569,251,357]

In [121]:
sorted(lista)

[45, 78, 120, 235, 251, 357, 569]

In [122]:
lista

[45, 235, 78, 120, 569, 251, 357]

In [123]:
lista.sort()

In [124]:
lista

[45, 78, 120, 235, 251, 357, 569]

In [125]:
lista.sort(reverse=True)

In [126]:
lista

[569, 357, 251, 235, 120, 78, 45]

In [127]:
sorted(lista, reverse=True)

[569, 357, 251, 235, 120, 78, 45]

In [128]:
lista.index(251)

2

In [129]:
lista.count(45)

1

In [132]:
lista.append(45)

In [133]:
lista

[569, 357, 251, 235, 120, 78, 45, 45, 45]

In [134]:
lista.count(45)

3

In [135]:
#List Comprehensions

In [139]:
a = [20,23,25,24]
for i, item in enumerate(a):
    a[i] = item**2
a

[400, 529, 625, 576]

In [143]:
a = [20,23,25,24]
a = [i*i for i in a]

In [144]:
a

[400, 529, 625, 576]

In [146]:
[i for i in a if i % 2 == 0]

[400, 576]

### 2. Tuplas

In [147]:
tupla = (1,2,3,4)

In [148]:
tupla

(1, 2, 3, 4)

In [149]:
tuplaX = (1,2,True, 'Hola', 'IIO')

In [150]:
tuplaX

(1, 2, True, 'Hola', 'IIO')

In [151]:
tuplaX[3] = 'Adiios'

TypeError: 'tuple' object does not support item assignment

In [153]:
tuplaY = (2,3,'Hola', True, (1,2,3, 'Hola'), [1,3,4,5,False, 'JAJA'])

In [154]:
tuplaY

(2, 3, 'Hola', True, (1, 2, 3, 'Hola'), [1, 3, 4, 5, False, 'JAJA'])

In [155]:
tupla2 = tupla + (5,6,7,8)

In [156]:
tupla2

(1, 2, 3, 4, 5, 6, 7, 8)

In [157]:
tuplaX.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [158]:
tuplaY[2]

'Hola'

In [159]:
tuplaY[2:5]

('Hola', True, (1, 2, 3, 'Hola'))

In [161]:
'Hola' in tuplaY

True

In [162]:
listaTupla = list(tuplaY)

In [163]:
listaTupla

[2, 3, 'Hola', True, (1, 2, 3, 'Hola'), [1, 3, 4, 5, False, 'JAJA']]

In [164]:
tuplaLista = tuple(a)

In [165]:
tuplaLista

(400, 529, 625, 576)

In [170]:
letras = ('abc', 'def')
tuple([l.upper() for l in letras])

('ABC', 'DEF')