# Estructuras de Datos

1. Listas
2. Tuplas
3. Diccionarios
4. Sets

### 1. Listas

In [18]:
b = [1,2,3,4,5]
b.range()

AttributeError: 'list' object has no attribute 'range'

In [87]:
lista = [1,2,3,4,5, 'Hola', 'IIO', True]

In [16]:
a=1.0
b=3
int(int(a)/int(b))

0

In [19]:
((not True) or (True and True)) or (1>0)

True

In [90]:
#append(), extend() e insert()

In [91]:
lista.append('Mundo')

In [92]:
lista

[1, 2, 3, 4, 5, 'Hola', 'IIO', True, 'Mundo']

In [93]:
lista.extend('PAPD')

In [94]:
lista

[1, 2, 3, 4, 5, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P', 'D']

In [95]:
lista.insert(2, False)

In [96]:
lista

[1, 2, False, 3, 4, 5, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P', 'D']

In [97]:
#del, pop(), remove

In [98]:
del lista[5]

In [99]:
lista

[1, 2, False, 3, 4, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P', 'D']

In [100]:
valor = lista.pop(0)

In [101]:
valor

1

In [102]:
lista

[2, False, 3, 4, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P', 'D']

In [103]:
valor = lista.pop()

In [104]:
lista

[2, False, 3, 4, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P']

In [105]:
lista.remove(4)

In [106]:
lista

[2, False, 3, 'Hola', 'IIO', True, 'Mundo', 'P', 'A', 'P']

In [107]:
lista.remove('Hola')

In [108]:
lista

[2, False, 3, 'IIO', True, 'Mundo', 'P', 'A', 'P']

In [113]:
lista = ['A','B','C','D','E','F','G']

In [114]:
#indexacion

In [115]:
lista[0:4]

['A', 'B', 'C', 'D']

In [117]:
lista[0:7:2]

['A', 'C', 'E', 'G']

In [118]:
lista[::-1]

['G', 'F', 'E', 'D', 'C', 'B', 'A']

In [119]:
lista[-3]

'E'

In [120]:
lista = [45,235,78,120,569,251,357]

In [121]:
sorted(lista)

[45, 78, 120, 235, 251, 357, 569]

In [122]:
lista

[45, 235, 78, 120, 569, 251, 357]

In [123]:
lista.sort()

In [124]:
lista

[45, 78, 120, 235, 251, 357, 569]

In [125]:
lista.sort(reverse=True)

In [126]:
lista

[569, 357, 251, 235, 120, 78, 45]

In [127]:
sorted(lista, reverse=True)

[569, 357, 251, 235, 120, 78, 45]

In [128]:
lista.index(251)

2

In [129]:
lista.count(45)

1

In [132]:
lista.append(45)

In [133]:
lista

[569, 357, 251, 235, 120, 78, 45, 45, 45]

In [134]:
lista.count(45)

3

In [135]:
#List Comprehensions

In [139]:
a = [20,23,25,24]
for i, item in enumerate(a):
    a[i] = item**2
a

[400, 529, 625, 576]

In [143]:
a = [20,23,25,24]
a = [i*i for i in a]

In [144]:
a

[400, 529, 625, 576]

In [146]:
[i for i in a if i % 2 == 0]

[400, 576]

### 2. Tuplas

In [147]:
tupla = (1,2,3,4)

In [148]:
tupla

(1, 2, 3, 4)

In [149]:
tuplaX = (1,2,True, 'Hola', 'IIO')

In [150]:
tuplaX

(1, 2, True, 'Hola', 'IIO')

In [151]:
tuplaX[3] = 'Adiios'

TypeError: 'tuple' object does not support item assignment

In [153]:
tuplaY = (2,3,'Hola', True, (1,2,3, 'Hola'), [1,3,4,5,False, 'JAJA'])

In [154]:
tuplaY

(2, 3, 'Hola', True, (1, 2, 3, 'Hola'), [1, 3, 4, 5, False, 'JAJA'])

In [155]:
tupla2 = tupla + (5,6,7,8)

In [156]:
tupla2

(1, 2, 3, 4, 5, 6, 7, 8)

In [157]:
tuplaX.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [158]:
tuplaY[2]

'Hola'

In [159]:
tuplaY[2:5]

('Hola', True, (1, 2, 3, 'Hola'))

In [161]:
'Hola' in tuplaY

True

In [162]:
listaTupla = list(tuplaY)

In [163]:
listaTupla

[2, 3, 'Hola', True, (1, 2, 3, 'Hola'), [1, 3, 4, 5, False, 'JAJA']]

In [164]:
tuplaLista = tuple(a)

In [165]:
tuplaLista

(400, 529, 625, 576)

In [170]:
letras = ('abc', 'def')
tuple([l.upper() for l in letras])

('ABC', 'DEF')

# 3. Diccionarios

In [1]:
dict1 = {1:'Javascript', 2:'Python'}

In [2]:
dict1

{1: 'Javascript', 2: 'Python'}

In [3]:
dict1[1]

'Javascript'

In [4]:
dict2 = {'A': 25, 'B':56}

In [6]:
dict2['B']

56

In [7]:
dict3 = {1: 85, 'A': 89}

In [8]:
dict3

{1: 85, 'A': 89}

In [9]:
#modificar
dict1[1] = 'R'

In [10]:
dict1

{1: 'R', 2: 'Python'}

In [11]:
dict1[3] = 'Julia'

In [12]:
dict1

{1: 'R', 2: 'Python', 3: 'Julia'}

In [13]:
#extraer/eliminar
dict1.pop(1)

'R'

In [14]:
dict1

{2: 'Python', 3: 'Julia'}

In [15]:
dict1.pop(3)

'Julia'

In [16]:
dict1

{2: 'Python'}

In [17]:
modelos_metricas = dict(LDA = 0.8545, SVM=0.788, ANN=0.8785)

In [19]:
modelos_metricas

{'LDA': 0.8545, 'SVM': 0.788, 'ANN': 0.8785}

In [20]:
modelos_metricas.popitem()

('ANN', 0.8785)

In [22]:
modelos_metricas

{'LDA': 0.8545, 'SVM': 0.788}

In [23]:
modelos_metricas.popitem('LDA')

TypeError: popitem() takes no arguments (1 given)

In [24]:
modelos_metricas = dict(LDA = 0.8545, SVM=0.788, ANN=0.8785)

In [25]:
llaves = modelos_metricas.keys()

In [26]:
llaves

dict_keys(['LDA', 'SVM', 'ANN'])

In [27]:
llaves = list(modelos_metricas.keys())

In [28]:
llaves

['LDA', 'SVM', 'ANN']

In [29]:
#valores

In [30]:
valores = modelos_metricas.values()

In [31]:
valores

dict_values([0.8545, 0.788, 0.8785])

In [32]:
valores = list(modelos_metricas.values())

In [33]:
valores

[0.8545, 0.788, 0.8785]

In [34]:
modelos_metricas.items()

dict_items([('LDA', 0.8545), ('SVM', 0.788), ('ANN', 0.8785)])

In [35]:
items = list(modelos_metricas.items())

In [36]:
items

[('LDA', 0.8545), ('SVM', 0.788), ('ANN', 0.8785)]

In [37]:
nombreC = {'nombre':'preng', 'apellido':'biba'}

In [40]:
{k:v.upper() for k,v in nombreC.items()}

{'nombre': 'PRENG', 'apellido': 'BIBA'}

# 4. Sets

In [41]:
setX = {1,2,3,4,5, 'Hola'}

In [42]:
setX

{1, 2, 3, 4, 5, 'Hola'}

In [43]:
setX.add(5)

In [44]:
setX

{1, 2, 3, 4, 5, 'Hola'}

In [45]:
setX.add(7)

In [46]:
setX

{1, 2, 3, 4, 5, 7, 'Hola'}

In [53]:
setX = {1,2,3,4,5}
setY = {5,6,7,8,9,4}

In [54]:
setX

{1, 2, 3, 4, 5}

In [55]:
setY

{4, 5, 6, 7, 8, 9}

In [56]:
setX.union(setY)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
setX + setY

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [57]:
setX.intersection(setY)

{4, 5}

In [58]:
setX.difference(setY)

{1, 2, 3}

In [67]:
setX - setY

{1, 2, 3}

In [59]:
setY.difference(setX)

{6, 7, 8, 9}

In [60]:
setX.symmetric_difference(setY)

{1, 2, 3, 6, 7, 8, 9}

In [61]:
setY.symmetric_difference(setX)

{1, 2, 3, 6, 7, 8, 9}

In [64]:
setA = {'A', 'C', 'D', 'B'}

In [65]:
setA

{'A', 'B', 'C', 'D'}

In [66]:
b = {'abc', 'def'}
{s.upper() for s in b}

{'ABC', 'DEF'}

In [41]:
a=2.3
a=float(1)
a*=2
a

2.0