# Laboratorio en clase 15/03/2021

In [56]:
import pandas as pd
import numpy as np

In [57]:
month=['February','March','April','May','June','July','August','September','October','November','December']

In [58]:
sales = pd.read_csv('Sales_January_2019.csv')
for i in month:
    df = pd.read_csv('Sales_'+str(i)+'_2019.csv')
    sales = pd.concat([sales,df])

In [59]:
sales.to_csv('sales.csv',index=False)

In [154]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [157]:
#sales.groupby('Price Each').count()

In [76]:
#sales[sales.isna().any(axis=1)]

In [30]:
sales.shape[0]-sales[sales.isna().any(axis=1)].shape[0]

186305

In [212]:
sales.dropna(how='all',inplace=True)
#sales.groupby('Product').count()

In [80]:
sales = sales.query("Product != 'Product'")
print(sales.shape[0])
sales.sample(10)

185950

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
8561,149395,Lightning Charging Cable,1,14.95,01/17/19 12:10,"447 Spruce St, Los Angeles, CA 90001"
17876,276409,Lightning Charging Cable,1,14.95,10/13/19 13:25,"733 Spruce St, New York City, NY 10001"
5201,253144,27in FHD Monitor,1,149.99,09/20/19 19:21,"479 13th St, Los Angeles, CA 90001"
10138,305334,AAA Batteries (4-pack),2,2.99,12/31/19 17:31,"450 4th St, San Francisco, CA 94016"
9705,159772,Macbook Pro Laptop,1,1700,02/14/19 12:41,"40 Ridge St, Atlanta, GA 30301"
12845,206306,Wired Headphones,1,11.99,05/18/19 07:06,"267 Ridge St, Portland, OR 97035"
7418,148296,Lightning Charging Cable,1,14.95,01/08/19 09:54,"55 2nd St, San Francisco, CA 94016"
2589,298129,27in 4K Gaming Monitor,1,389.99,12/25/19 12:58,"347 Madison St, Los Angeles, CA 90001"
6932,229537,AAA Batteries (4-pack),1,2.99,07/06/19 12:15,"109 Park St, Los Angeles, CA 90001"
10017,305219,USB-C Charging Cable,1,11.95,12/26/19 13:24,"937 Elm St, Seattle, WA 98101"

In [160]:
sales['sale']=pd.to_numeric(sales['Quantity Ordered'])*pd.to_numeric(sales['Price Each'])
sales.sample(5)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,sale
765,260085,34in Ultrawide Monitor,1,379.99,10/28/19 12:27,"987 Wilson St, Portland, OR 97035",379.99
16461,209757,Google Phone,1,600,05/23/19 07:10,"670 Main St, Portland, OR 97035",600.00
6876,285373,USB-C Charging Cable,1,11.95,11/08/19 12:20,"254 Hickory St, Los Angeles, CA 90001",11.95
6600,229220,AAA Batteries (4-pack),1,2.99,07/26/19 00:41,"516 Forest St, Boston, MA 02215",2.99
4644,198501,USB-C Charging Cable,1,11.95,05/03/19 22:17,"951 Lakeview St, Dallas, TX 75001",11.95

In [161]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 25116
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   sale              185950 non-null  float64
dtypes: float64(1), object(6)
memory usage: 11.3+ MB

In [162]:
sales['Order Date'] =  pd.to_datetime(sales['Order Date'])

In [173]:
sales['sale'].sum()

34492035.96999999

In [210]:
sales.groupby(sales['Order Date'].dt.strftime('%B'))['sale'].sum().sort_values(ascending=False)

Order Date
December     4.613443e+06
October      3.736727e+06
April        3.390670e+06
November     3.199603e+06
May          3.152607e+06
March        2.807100e+06
July         2.647776e+06
June         2.577802e+06
August       2.244468e+06
February     2.202022e+06
September    2.097560e+06
January      1.822257e+06
Name: sale, dtype: float64